<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PostMapper">
	<resultMap type="github.sunkeun.webboard.dto.Post" id="postMap">
		<result property="seq" column="seq"/>
		<result property="title" column="title"/>
		<result property="content" column="content"/>
		<collection property="tags" ofType="string">
			<result column="tag" javaType="string"/>
		</collection>
	</resultMap>
	<!--
	    Post p = new Post();
	    
		seq: p.setSeq(rs.getInt("seq"))
		title: p.setTitle(rs.getString("title") );  
	 -->
	<select id="findAll" resultType="github.sunkeun.webboard.dto.Post">
		select
			seq,
			title,
			content
		from posts
	</select>
	
	<select id="findPostBySeq" parameterType="int" resultMap="postMap">
	select p.seq, p.title, p.content, t.tag
		from posts p
		left join post_tag pt on p.seq = pt.post
		left join tags t on t.no = pt.tag
		where p.seq = #{id};
	</select>
	
	<!--
	update posts 
		set 
			title = ?, 
			content=?
		where seq =?
	   #{title} => map.get("title")
	   ps.setString(1, map.get("title");
	    
	 -->
	<update id="updatePost" parameterType="hashmap" >
		update posts 
		set 
			title = #{t} , 
			content=#{content}
		where seq =#{pk}
	</update>
	
	<delete id="deletetPost" parameterType="int">
        delete from posts 
        where seq = #{id}
	</delete>
	
	<insert id="insertPost" parameterType="hashmap" useGeneratedKeys="true" keyColumn="seq" keyProperty="seq">
	  insert into posts (title, content) 
			 values (#{title}, #{content})  
	</insert>
	
	<insert id="insertTag" parameterType="string">
	   insert into tags(tag)
	   values(#{tag})
	
	</insert>
	
</mapper>